<div>
    <h2>Escribe tu nueva contraseña</h2>
    <form action="POST" name="password" id="formNewPassword">
        <input type="password" id="newPassword">
    </form>
        <input type="submit" form="password">
</div>
<script src="/js/resetPassword.js"></script>